/* body{
    align-items: center;
    
}
.main {
    text-align: center;
    margin-bottom: 20px;
   
} */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #374151;
    color: #ffffff;
}


.container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
}


form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

form input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 200px;
    outline: none;
}

form button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}


.weather {
    background-color: #ffffff;
    color: #374151;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
}

.left h2 {
    font-size: 3rem;
    margin: 0;
}

.left h3 {
    font-size: 1.5rem;
    margin: 5px 0;
    color: #868b94;
}

.right {
    text-align: center;
}

.right .icon img {
    width: 80px;
}

.right .condition p {
    margin: 5px 0;
    font-size: 1rem;
    color: #868b94;
}


@media screen and (max-width: 400px) {
    .weather {
        width: 90%;
        flex-direction: column;
        text-align: center;
    }

    .left, .right {
        width: 100%;
    }
}